/* Blog Detail Page  */

img.post_featured_img {
  width: 100%;
}

.post_content_main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Contact us page  */

.contact_us_content h2 {
  font-size: 44px;
  font-weight: 700;
}

.contact_us_content p {
  font-size: 20px;
}

input,
textarea {
  width: 50%;
}

textarea:focus,
input:focus {
  outline: #f05152 solid 1px;
  background-color: #fff;
  color: #181717;
}

.error_message {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
}

/* career page styling */

.hero-swiper {
  width: 100%;
  height: 60vh;
}

.hero-slide {
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 80%);
  color: white;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-in-out;
}

.overlay p {
  font-size: 1.2rem;
  animation: fadeIn 2s ease-in-out;
}

.btn-apply {
  margin-top: 1.5rem;
  padding: 10px 20px;
  background: #f04e23;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.image-block {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0%;
  color: #ffffff;
  z-index: 999;
}

.mySwiper1 .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* work with us section styling */

.work_content_child h2 , .thrive_us_title_main h2 {
    font-size: 44px;
    font-weight: 700;
}

.work_content_child p , .thrive_us_title_main p {
    font-size: 20px;
}

/* thrive section styling start */

.thrive_icon_box_parent{
  width: 100%;
  max-width: 75%;
}


@media screen and (max-width: 1024px) {
  .contact_us_content h2 {
    font-size: 30px;
    line-height: 34px;
  }

  .contact_us_content p {
    font-size: 16px;
    line-height: 20px;
  }

  input,
  textarea {
    width: 100% !important;
  }
  .contact_box_parent {
    width: 100% !important;
  }

  /* Career page styling */

  .image-block {
  top: 20%;
  left: 0%;
}

  /* work with us section styling */

  .work_with_img{
    width: 100% !important;
  }

.work_content_child h2 , .thrive_us_title_main h2 {
    font-size: 30px;
}

.work_content_child p , .thrive_us_title_main p {
    font-size: 16px;
}

/* thrive section styling start */

.thrive_icon_box_parent{
  width: 100%;
  max-width: 100%;
}
}
