.inovation_parent {
  position: relative;
  height: 450px;
  border-radius: 20px;
}

.inovation_parent::before {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  background: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 20px;
}

h2.inovation_top_heading {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 14px;
}

h2.Inovation_main_heading {
  font-size: 56px;
  letter-spacing: 14px;
}

.inovation_child p {
  font-size: 24px;
}

.custom_right_arrow {
  background: #ffffff52;
  border-radius: 50px;
  padding: 16px;
  font-size: 20px;
}

.inovation_child {
  z-index: 3 !important;
}

@media screen and (max-width: 1024px) {
  .inovation_parent {
    height: 450px;
  }
  h2.inovation_top_heading {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 10px;
}

h2.Inovation_main_heading {
  font-size: 36px;
  letter-spacing: 10px;
}

.inovation_child p {
  font-size: 20px;
}
.custom_right_arrow {
  background: #ffffff52;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
}
}

@media screen and (max-width: 600px) {
  .inovation_parent {
    height: 550px;
  }
}

