.custom-offcanvas-width .offcanvas-header,
.custom-offcanvas-width .offcanvas-body {
  padding-left: 29px;
}

nav.navbar_main {
  margin-bottom: -8%;
  z-index: 99999;
  background: #00000000 !important;
}

.offcanvas {
  z-index: 999999999;
}

nav.navbar_main.sticky {
    background: #000000d1 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s ease-in;
}



@media screen and (max-width: 1024px) {
  img.site_logo {
    width: 60%;
  }
  nav.navbar_main {
    margin-bottom: 0%;
    background: #1e1818 !important;
  }

  .logo_main {
    width: 40%;
  }

  .nav_toggle_main {
    width: 60%;
  }
}
