.about_hero_main {
  padding-top: 12%;
}

.about_hero_content_child h1 {
  font-size: 44px;
  font-weight: 700;
}

.about_hero_content_child p {
  font-size: 20px;
}

img.image_box {
  width: 12%;
}

img.aurthor_box{
  width: 70%;
}

.aurthor_box_parent {
    width: 100%;
    max-width: 40%;
}


@media screen and (max-width: 1024px) {
  .about_hero_main {
    padding-top: 25%;
  }
  .about_hero_content_child h1 {
    font-size: 30px !important;
    line-height: 34px !important;
    font-weight: 700;
  }

  .about_hero_content_child p {
    font-size: 14px;
  }
  .banner_second_col img {
    width: 60% !important;
  }

  img.image_box {
    width: 15%;
  }
  .aurthor_box_parent {
    width: 100%;
    max-width: 100% !important;
}
}
