.our_solution_inner_child {
    background-color: #F4F4F5;
    padding: 14px;
    border-radius: 20px;
}

.our_solution_child_main a {
    text-decoration: none;
    color: #000;
}

.our_solution_inner_child_content {
    background: #F4F4F5;
}

.our_solution_inner_child_content h3 {
    font-size: 18px;
}

.our_solution_inner_child{
    /* padding: 14px 14px 30px 14px; */
    border-radius: 20px;
}

a.our_solution_mini_child_1, a.our_solution_mini_child_2 {
    padding-bottom: 50px;
    border-radius: 20px;
}

a.our_solution_inner_child_3 {
    padding-bottom: 120px;
}


@media screen and (max-width: 1024px) {

a.our_solution_inner_child_1 {
    padding-bottom: 50px;
}
}